.header
  .menu-items
    display inline-block
    margin-right 1rem

.signin-form
  text-align center
  margin-top    8rem

.footer
  text-align center

.main > .header
  padding 10px 0 10px 0
  min-width 960px
  background-color #f5f5f5
  border-bottom 1px solid #e5e5e5

  .logo
    margin 0
    padding 0

  .sign-up
    text-align right

  margin-bottom 2px

.diagram-text
  width 100%
  height 12rem
  font-family "consolas", "monospace"
  margin-bottom 0.25rem

input, button
  margin-right 0.25rem

li
  list-style-type none

.examples
  li
    display inline-block
    margin-left 1rem
    margin-right 1rem

.diagram
  margin-left auto
  margin-right auto

.diagram-list-container
  height 16rem
  overflow-y auto

r_radius = 4px

table.diagram-list
  width 100%
  th
    height 1.5rem
  td
    height 1.5rem
    padding-right 1rem
  .name
    padding-left 1rem
    min-width 8rem
    border-top-left-radius     r_radius
    border-bottom-left-radius  r_radius
  .image
    border-top-right-radius    r_radius
    border-bottom-right-radius r_radius
  tr.selected
    background-color #e2eef9
  .name
    width 50%
  .mtime
    width 20%
  .remove, .ulink, .image
    width 10%
    text-align center

