doctype html
head
  link(rel="stylesheet", href="/bower_components/primer-css/css/primer.css")
  link(rel="stylesheet", href="/bower_components/octicons/octicons/octicons.css")
body
  .flash.flash-warn.
    Not found or you are not allowed to see this resource.<br>
    Please try to login from <a href="/">here</a>.
